## AWS CONFIG
AWS_REGION='sa-east-1'

##SQS
SQS_QUEUE_URL=''
AWS_SQS_ENDPOINT=''
SQS_COMPASS_QUEUE=''
SQS_REASSIGN_CLIENTS_QUEUE=''

### DATABASE CONFIG
DATABASE_URL="postgresql://postgres:docker@localhost:5432/intranet?schema=public"

POSTGRES_PASSWORD="docker"
POSTGRES_DB="intranet"
POSTGRES_HOST="localhost"
POSTGRES_USER="postgres"

### AUHT0 Authentication
AUTH0_AUDIENCE=""
AUTH0_AUTHENTICATION_DOMAIN=""

### AUHT0 Management API
AUTH0_DOMAIN=''
AUTH0_CONNECTION=''
AUTH0_CLIENT_SECRET=''
AUTH0_CLIENT_ID=''
AUTH0_MANAGEMENT_URL=""

### APP URL
APP_WEB_URL="http://localhost:3001"

## APP ENVIRONMENT
ENVIRONMENT='dev'